emotionmap.uk {
  # Route all api calls to express server
  route /api* {
    uri strip_prefix /api
    reverse_proxy server:8080
  }

  route {
    root * /var/www/html/emotionmap.uk
    # Compress if possible
    encode gzip zstd
    try_files {path} /index.html
    file_server
  }
}
